.popup-background{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 1;
    position: absolute;
}
.popup{
    border-radius: 30px;
    width: 90vw;
    height: 60vh;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 15px;
}
#contentPopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#haveApi, #dontHaveApi, #loading{
    display: none;
}
